/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color to the body */
body {
    background-color: #f4f4f4;
}

/* Style the header */
header {
    background-color: rgba(139, 14, 104, 0.502);
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Style the main content */
main {
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add additional styles for your content */
/* For example, you can style headings, paragraphs, etc. */

h1 {
    color: #333;
}

p {
    line-height: 1.6;
}

/* Add any other custom styles here */